<!-- very crude selector for now -->
<select [value]="model" (change)="changeModel($event)">
  <option value="model1">Model1</option>
  <option value="model2">Model2</option>
  <option value="model3">Model3</option>
  <option value="model4">Model4</option>
</select>

<p>
  GITHASH: {{  gitHash }}
</p>

<div class="flex min-h-screen rounded-xl border bg-background font-mono">
  <div class="relative flex h-screen w-full overflow-hidden">
    <main class="flex flex-1 flex-col">
      <div class="flex-1 overflow-y-auto">
        <!-- application shell -->
        <div class="grid items-start gap-8 p-6">
          @if (model === 'model1') {
            <app-model1-container></app-model1-container>
          }

          @if (model === 'model2') {
            <app-model2-container></app-model2-container>
          }

          @if (model === 'model3') {
            <app-model3-container></app-model3-container>
          }

          @if (model === 'model4') {
            <app-model4-container></app-model4-container>
          }

        </div>
      </div>

    </main>
  </div>
</div>
